.App {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-header {
    color: #fff200;
    padding-bottom: 0.5em;
    border-bottom: 8px solid #fff200;
}

.biq-logo {
    color: #fff;
}

#reader {
    width: 85%;
    border: 4px solid #fff200;
    margin: 1em auto;

}

.scan-value {
    padding: 0.5em;
}

.start-scan-button {
    margin: 2em;
    padding: 0.5em;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #000
}

.start-scan-button:hover {
    border-color:#fff200;
    color:#fff200;
}

.start-scan-button:active {
    border-color:#fff200;
    color:#fff200;
    box-shadow: 1px 1px #fff200;
}

.camera-on {
    color: #fff200;
}

.camera-off {
    color: #fff;
}


